* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("IMG/pexels-photo-701337.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: all;
}

#slide {
    margin: 5px auto;
    width: 800px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    box-shadow: inset 0px 0px 20px black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.87);
}

.icon-right {
    position: absolute;
    top: 50%;
    right: 55px;
    color: rgb(255, 254, 253);
    font-size: 40px;
}

.icon-left {
    position: absolute;
    top: 50%;
    left: 55px;
    color: rgb(255, 254, 253);
    font-size: 40px;
}

.fa-solid:hover {
    color: rgb(241, 241, 72);
}

.name {
    font-size: 25px;
    font-weight: bold;
    color: brown;
    margin: 10px auto;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px yellow;
    padding-top: 10px;
}

#hinh {
    display: block;
    width: 750px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
}

#dem {
    width: 750px;
    height: 45px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 0px 0px 10px 10px;
}

.icon-left:active {
    transform: scale(0.8, 0.8);
}

.icon-right:active {
    transform: scale(0.8, 0.8);
    transition: none;
}

.fa-solid {
    cursor: pointer;
}

#nameimg {
    height: 50px;
    width: 500px;
    line-height: 50px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.884);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    bottom: 110px;
    left: 170px;
    background-color: rgba(90, 214, 173, 0.329);
    border-radius: 30px;
    text-shadow: 0px 0px 10px #333;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#nameimg:hover {
    color: rgb(255, 255, 0);
    transition: 1s ease-in-out;
    background-color: rgb(22, 1, 61);
    box-shadow: inset 0px 0px 40px rgb(15, 93, 112);
}

.img {
    height: 43px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 746px;
    margin: 0 auto;
    background-color: #fff;
}

.img img {
    float: none;
    width: 40px;
    margin: 8px;
    text-align: center;
    border-radius: 20px;
}

.img img:hover {
    z-index: 1;
    border-radius: 2px;
    transform: scale(1.5, 1.5);
    transition: 30ms ease-in-out;
    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}